<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="container">
    	   <div id="main_menu" class="row">
        	   <div class="pull-left col-sm-8">
        	       <ul class="list-inline">
        	           <li><a href="{{ path('homepage') }}">Główna</a></li>
        	           <li><a href="{{ path('catalog_list') }}">Katalog firm</a></li>
        	           <li><a href=""></a></li>
        	       </ul>
        	   </div>
        	   <div class="pull-right col-sm-4">
            	   {% if app.user %}
            	       <ul class="list-unstyled">
            	           <li>Zalogowany jako: {{ app.user }} <!-- <p class="text-muted">od: {{ app.user.lastlogin|date("d-m-Y H:i") }}</p> --> </li>
            	           {% if is_granted('ROLE_ADMIN') %}
            	               <li><a href="{{ path('admin') }}">Panel admina</a></li>
            	           {% endif %}
            	           <li><a href="{{ path('fos_user_security_logout') }}">wyloguj</a></li>
            	       
            	           <li><a href="{{ path('fos_user_change_password') }}">Zmień hasło</a></li>
            	           <li><a href="{{ path('newCompany') }}">Dodaj wizytówkę</a></li>
            	           <li><a href="{{ path('myCompanyList') }}">Moje wizytówki</a></li>
            	           
            	       </ul>
            	       
            	   {% else %}
            	       <a href="{{ path('fos_user_security_login') }}">Zaloguj sie</a>
            	   {% endif %}
               </div>
    	   </div>
    	   <div class="clearfix"></div>
    	   <div id="content">
	        {% block body %}{% endblock %}
    	   </div>
	    </div>
	    {% block javascripts %}{% endblock %}
    </body>
</html>
