{% extends 'base.html.twig' %}

{% block body %}
	<h1>Blog</h1>
    <div class="container">
	{% for post in posts %}
    	<div class="row">
	    	<div class="col-xs-2">
	    	{% if post.image %}
	    		<img class="img-thumbnail" src="{{ asset('uploads/images/post/') ~ post.image }}" title="{{ post.image }}" />
	    	{% endif %}
	    	</div>
	    	
	    	<div class="col-xs-10">
	        <h2><a href="{{ path("post_show", {"id" : post.id}) }}">{{post.title}}</a></h2>
	        <p>{{post.lead}}</p>
	        </div>
	    </div>
	{% endfor %}
	</div>
	
	{# display navigation #}
    <div class="navigation">
    {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
