{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ post.title }}</h1>
	
    <div>
    	<img class="img-thumbnail" src="{{ asset('uploads/images/post/') ~ post.image }}" />
    	
        <p>{{ post.lead }}</p>
        
        <p>{{ post.content }}</p>
        
        <span class="">Dodano: {{ post.created|date('H:i d/m/Y') }}</span>
        
        <hr/>
        
        <h3>Komentarze</h3>
        
        {% if app.user %}
        
	        {{ form_start(form) }}
	        
	        	{{ form_widget(form) }}
	        	
	        	<button class="btn btn-primary pull-right">Dodaj komentarz</button>
	        
	        {{ form_end(form) }}
	    
	    {% else %}
	    	
	    	<p><a href="{{ path('fos_user_security_login') }}">Zaloguj się</a> aby dodać komentarz.</p>
	    	
	    {% endif %}
        
        {% for comment in post.comments %}
        	
        	<div class="clearfix"></div>
        	<div>
        		<p class="text-primary">{{ comment.content }}</p>
        		<span class="text-muted small">Dodany: {{ comment.createdAt|date('H:i d/m/Y') }} {% if comment.user %} przez: {{ comment.user }} {% endif %}</span>
        	</div>
        	</br>
        	
        {% endfor %}
        
    </div>


{% endblock %}
