{% extends "::base.html.twig" %}

{% block title %}AppBundle:Company:new{% endblock %}

{% block body %}
<h1>Welcome to the registration Company page</h1>



{% if app.user %}
        
    {{ form_start(form) }}
    
    	{{ form_widget(form) }}
    	
    	<button class="btn btn-primary pull-left">Dodaj firmę</button>
    
    {{ form_end(form) }}

{% else %}
	
	<p><a href="{{ path('fos_user_security_login') }}">Zaloguj się</a> aby dodać komentarz.</p>
	
{% endif %}

{% endblock %}
