{% extends 'base.html.twig' %}

{% block body %}
	<h1>Katalog firm</h1>
    <div class="container">
	{% for card in catalog %}
    	<div class="row">
	    	<div class="col-sm-12"><h2><a href="{{ path("card_show", {"id" : card.id}) }}"> {{ card.name }} </a></h2></div>
	    	{% if card.email %}
	    	<div class="col-sm-2 text-muted">Adres:</div>
	    		<div class="col-sm-10"><strong>{{ card.city }}, {{ card.address }}</strong></div>
	    	{% endif %}
	    	
	    	{% if card.telephone %}
	    	<div class="col-sm-2 text-muted">Telefon:</div>
	    		<div class="col-sm-10"><strong>{{ card.telephone }}</strong></div>
	    	{% endif %}
	    		
	    	{% if card.mobile %}
	    	<div class="col-sm-2 text-muted">Telefon komórkowy:</div>
	    		<div class="col-sm-10"><strong>{{ card.mobile }}</strong></div>
	    	{% endif %}
	    		
	    	{% if card.webpage %}
	    	<div class="col-sm-2">Strona internetowa:</div>
	    		<div class="col-sm-10"><a href="{{ card.webpage }}" target="_blank" title="{{ card.name }}">{{ card.webpage }}</a></div>
	    	{% endif %}
	    </div>
	{% endfor %}
	</div>
	
	{# display navigation #}
    <div class="navigation">
    {{ knp_pagination_render(catalog) }}
    </div>

{% endblock %}
