{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<h1>{{ card.name }}</h1>
		

	    	<div class="col-xs-2 col-md-2 text-muted">Adres:</div>
	    		<div class="col-xs-10 col-md-10">{{ card.postcode }} <strong>{{ card.city }}</strong></div>
	        <div class="col-xs-2 col-md-2 text-muted">Ulica:</div>
	    		<div class="col-xs-10 col-md-10"><strong>{{ card.address }}</strong></div>

	    		
	    	{% if card.province %}

	    	      <div class="col-xs-4 col-md-2 text-muted">Województwo:</div>
	    	      <div class="col-xs-8 col-md-10">{{ card.province }}</div>

	    	{% endif %}
	    	
	    	{% if card.telephone %}

	    	      <div class="col-xs-2 col-md-2 text-muted">Telefon:</div>
	    	      <div class="col-xs-10 col-md-10">{{ card.telephone }}</div>

	    	{% endif %}
	    		
	    	{% if card.fax %}

	    	      <div class="col-xs-2 col-md-2 text-muted">Fax:</div>
	    	      <div class="col-xs-10 col-md-10">{{ card.fax }}</div>

	    	{% endif %}
	    	
	    	{% if card.mobile %}

	    	      <div class="col-xs-4 col-md-2 text-muted">Telefon komórkowy:</div>
	    	      <div class="col-xs-8 col-md-10">{{ card.mobile }}</div>

	    	{% endif %}
	    		
	    	{% if card.email %}

	    	      <div class="col-xs-2 col-md-2 text-muted">Email:</div>
	    	      <div class="col-xs-10 col-md-10"><a href="mailto:{{ card.email }}" title="Napisz wiadomość do firmy {{ card.name }}">{{ card.email }}</a></div>

	    	{% endif %}
	    		
	    	{% if card.webpage %}

	    	      <div class="col-xs-2 col-md-2 text-muted">Web:</div>
	    	      <div class="col-xs-10 col-md-10"><a href="{{ card.webpage }}" target="_blank" title="{{ card.name }}">{{ card.webpage }}</a></div>

	    	{% endif %}
	    	
	    	{% if card.misc %}

	    	      <div class="col-sm-2 col-md-2 text-muted">Dodatkowe informacje:</div>
	    	      <div class="col-sm-10 col-md-10">{{ card.misc }}</div>

	    	{% endif %}
	    	

	    	      <div class="col-xs-2 col-md-2 text-muted">Usługi:</div>
	    	      <div class="col-xs-10 col-md-10"></div>



	    	      {% if card.services|length > 0 %}
	    	      
    	    	      {% for service, group in card.services | group_by(=>_.parent) %}
    	    	          {% if service %}
        	    	          
        	    	              <div class="col-xs-8 col-md-4"><p class="text-primary">{{ service }}</p></div>
        	    	              <div class="col-xs-4 col-md-8">rating</div>
        	    	          
    	    	          {% endif %}
    	    	          
    	    	          {% for sub_service in group %}
        	    	          {% if sub_service.parent %}
            	    	      
            	    	              <div class="col-xs-8 col-md-4"><p class="text-muted" style="padding-left: 10px;">{{ sub_service.serviceName }}</p></div>
            	    	              <div class="col-xs-4 col-md-8"><em>rating</em></div>
            	    	      
            	    	      {% else %}
            	    	      
            	    	              <div class="col-xs-8 col-md-4"><p class="text-primary">{{ sub_service.serviceName }}</p></div>
            	    	              <div class="col-xs-4 col-md-8"><em>rating</em></div>
            	    	      
            	    	      {% endif %}
    	    	          {% endfor %}
    	    	      {% endfor %}
        	    	  
    	    	  {% else %}
    	    	  <p class="text-info">Dla tej firmy nie określono jeszcze usług</p>
    	    	  {% endif %}
  
    	   </div>
	 </div>

{% endblock %}
