{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:new{% endblock %}

{% block body %}
<h1>Welcome to the registration user page</h1>


{{ form_errors(form) }}


{{ form_rest(form) }}

<input type="submit" />

{% endblock %}
